#
# Configuration file for MPC P2P application
#
#----------------------------------------------------------------
# Peer parameters
#----------------------------------------------------------------
# If serverHost is less than 3 characters, the Peer() constructor
# calls GetServerHost() to ping 216.58.209.110 (google.com) to
# determine the serverHost address for this peer. 
name        A
serverPort  7771
serverHost  192.168.0.12
peerID      192.168.0.12:7777
maxPeers    16
timeOut     65
stabilize   10
hops        1
#
#----------------------------------------------------------------
# Share parameters
#----------------------------------------------------------------
# x is the base exponent of this Share
shareName   Alice_Share
numCoef     3
# Comment-out coef to use random coefficients
coef        3 1 1
x           2
secret      34
prime       101
