#
# Configuration file for MPC P2P application
#
#----------------------------------------------------------------
# Peer parameters
#----------------------------------------------------------------
# If serverHost is less than 3 characters, the Peer() constructor
# calls GetServerHost() to ping 216.58.209.110 (google.com) to
# determine the serverHost address for this peer. 
name        Bart
serverPort  7777
serverHost  127.0.0.1
peerID      127.0.0.1:7771
maxPeers    16
timeOut     65
stabilize   10
hops        1
#
#----------------------------------------------------------------
# Share parameters
#----------------------------------------------------------------
# x is the base exponent of this Share
shareName   Bob_Share
numCoef     2
# Comment-out coef to use random coefficients
coef        3 1
x           1
secret      3
prime       101
