#
# Configuration file for MPC P2P application
#
#----------------------------------------------------------------
# Peer parameters
#----------------------------------------------------------------
# If serverHost is less than 3 characters, the Peer() constructor
# calls GetServerHost() to ping 216.58.209.110 (google.com) to
# determine the serverHost address for this peer. 
name        Carl
serverPort  7772
serverHost  127.0.0.1
peerID      127.0.0.1:7777
maxPeers    16
timeOut     65
stabilize   10
hops        2
#
#----------------------------------------------------------------
# Share parameters
#----------------------------------------------------------------
# x is the base exponent of this Share
shareName   Carl_Share
numCoef     3
# Comment-out coef to use random coefficients
coef        4 1 1
x           3
secret      35
prime       101
